@import "tailwindcss";



:root {
  --color-bg: #ffffff;
  --color-text: #111111;
  --color-primary: #037a42;
  --color-text-secondary: #ffffff;
}

.dark {
  --color-bg: #111111;
  --color-text: #f9f9f9;
  --color-primary: #0fa35e;
  --color-text-secondary: #111111;
}