@import "tailwindcss";

@font-face {
  font-family: 'Eb-Garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

/*Themes*/

:root {
  --color-bg: #ffffff;
  --color-surface: #ffffff;
  --color-text: #1a1a1a;
  --color-muted: #595197;
  --color-primary: #328490;
  --color-primary-light: #b3ecf3;
  --color-accent: #FC618D;
  --color-border: #e0e0e0;

  --color-success: #7BD88F;
  --color-warning: #bdaa3c;
}

.dark {
  --color-bg: #000000;
  --color-surface: #1a1a1a;
  --color-text: #f9fafb;
  --color-muted: #948AE3;
  --color-primary: #5AD4E6;
  --color-primary-light: #7BDCF0;
  --color-accent: #FC618D;
  --color-border: #333333;

  --color-success: #7BD88F;
  --color-warning: #FCE566;
}


body {
  font-family: 'Eb-Garamond', serif, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Titles */
h1, h2, h3 {
  text-align: center;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--color-text);
}

/* minimalist buttons */
button {
  background-color: var(--color-primary);
  color: var(--color-text-secondary, #fff);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--color-primary-light);
}

/* cards */
.card {
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(12px);           
  -webkit-backdrop-filter: blur(12px);   
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
